:root {
  --alpha: #2C3E50;
  --beta: #0A7ED2;
  --gamma: #000000;
  --delta: #EDEDED;
  --alert: #FD5959;
  --contrast: #E84188;
  --elements: #C4C4C4;
  --light: #FFF;
  --skills: #e1e1e1;
}

/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: opensansbold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
  font-family:opensans;
  color:#888;
  margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
  /*for using REM units!*/
}

body {
    padding:0;
    margin:0;
  font-family: "Open Sans";
  font-size: 16rem;
  line-height: 1.3;
  background-color: var(--light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: opensansbold;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--alpha);
}

::-moz-placeholder {
  color: var(--alpha);
}

::placeholder {
  color: var(--alpha);
}
.white {
    color:#fff;
}
.fas {
    color:#2bcd2b;
}
.fa-solid {
    color:#2bcd2b;
}
.nav {
  width:100%;
  box-shadow: 0px 0px 5px #999;
  padding-left:30px;
  padding-right:30px;
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  background-color: var(--light);
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid;
  border-color: var(--light);
  overflow: hidden;
  position: fixed;
}
.nav__lblock {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  padding: 12rem;
}
.nav__rblock {
  grid-row: 1/2;
  grid-column: 3/-1;
  display: flex;
  align-items: flex end;
  padding: 12rem;
}
.nav__dropl {
  grid-row: 2/3;
  grid-column: 1/-1;
  background-color: var(--light);
  display: none;
}
.nav__hamburger {
  margin-left: 10rem;
}
.nav__toggle:checked ~ .nav__dropl {
  display: block;
}
.nav__toggle:checked ~ .nav__dropl li {
  padding: 5rem 10rem;
  font-size: 14rem;
}
.nav__toggle:checked ~ .nav__dropl li :hover {
  cursor: pointer;
  -webkit-text-decoration: underline #00aded;
          text-decoration: underline #00aded;
}
@media (min-width: 767px) {
  .nav {
    grid-template-columns: 1fr 1fr -webkit-min-content 1fr;
    grid-template-columns: 1fr 1fr min-content 1fr;
  }
  .nav__lblock {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .nav__dropl {
    grid-row: 1/2;
    grid-column: 4/4;
    display: flex;
    align-items: center;
    font-size: 12rem;
    color: var(--beta);
  }
  .nav__dropl li {
    margin-left: 30rem;
    font-size: 13rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: var(--gamma);
    display: block;
    margin-right: 0px;
    font-family: opensans;
    letter-spacing: 1px;
  }
    .nav__dropl li:hover {
        border-bottom: 3px solid #00aded;
    }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 727px;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
}
.heroop {
    background:rgba(0,0,0,0.2);
    width: 100%;
    height: 726px
}
.hero__wrap {
  color: var(--light);
  align-items: center;
  margin-top: 15%;
}
.hero__wrap h1 {
  font-size: 80px;
  font-family: opensans;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.hero__wrap p {
  font-size: 22px;
  font-family: opensans;
  text-align: center;
}
.hero__button {
  text-align: center;
}
.hero__button .feature {
  font-family: opensans;
  margin-top: 40px;
  text-align: center;
  border: 2px white solid;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
}
.hero__button .feature:hover {
  
  transition: s;
  color: var(--gamma);
  background-color: var(--light);
  border: 1px solid var(--light);
}
.hero__button .download {
  font-family: opensans;
  margin-top: 40px;
  background-color: var(--beta);
  border: 1px solid var(--beta);
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin-left: 20px;
}
.hero__button .download:hover {
  color: var(--gamma);
  background-color: var(--light);
  border: 1px solid var(--light);
  cursor: pointer;
}

.clients h1 {
  font-size: 30px;
  font-family: opensans;
  text-align: center;
  margin-top: 40px;
}
.clients h1 span {
  background: #00aded;
  height: 2px;
  display: block;
  max-width: 100px;
  margin: 20px auto;
}
.clients__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1155px;
  margin: 30px auto;
}
    .clients__images img {
        width:120px;
    }
.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  grid-gap: 40px;
}
.features .item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.work {
  max-width: 1095px;
  margin: 60rem auto;
  
}
.work .p1 {
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: opensans;
  color: #888;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.42;
  padding-top: 30px;
  text-align:center;
}
.work article {
  margin-bottom: 8rem;
}

.p2 {
  color: black;
  font-size: 15px;
  margin-top: 50px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.p3 {
  margin-top: 30px;
  letter-spacing: 0.3px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 100;
  font-family: opensans;
}

.p4 {
  text-align: justify;
  letter-spacing: 0.5px;
  margin-top: 30px;
  font-size: 17px;
  line-height: 25px;
  font-weight: 100;
  font-family: opensans;
}

.lines {
  margin: 10px;
  width: 100%;
  height: 45px;
  position: relative;
}

.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: var(--elements);
  width: 45%;
  align-items: center;
}

.lines::after {
  left: 0;
  margin-top: -40px;
  z-index: -2;
}

.lines::before {
  right: 0;
  margin-top: 24px;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-family:opensans;
  font-weight: 600;
  margin: auto;
  letter-spacing: 1.25px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:#fff;
  width:150px;
  color:#666;
  z-index:0;
  position:relative;
}
    .line:before {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 30px;
    width: 100%;
    }
    .line:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 40px;
    width: 100%;
    }
.work2 {
  text-align: center;
}

.leaf {
  
  color: #0693e3;
}

.projects h1 {
  font-size: 30px;
  font-family: opensans;
  text-align: center;
  margin-top: 40px;
}
.projects span {
  background: #00aded;
  height: 2px;
  display: block;
  max-width: 100px;
  margin: 20px auto;
}

.container-fluid {
  width: 100%;
  position:relative;
  z-index:2;
}

i {
  color: green;
}

h1 {
  font-weight: bold;
  font-family:opensans;
  letter-spacing:2px;
}

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.carousel {
  max-width: 85%;
  margin: 1em auto;
  position: relative;
  z-index:-1;
  /*---- SET UP CONTROL ----*/
  /* Info Box */
  /* Slider Styling */
  /*---- SET POSITION FOR SLIDE ----*/
  /*---- TABLET ----*/
  /*---- MOBILE----*/
}
.carousel input {
  display: none;
}
.carousel .inner {
  width: 500%;
  line-height: 0;
}
.carousel article {
  width: 20%;
  float: left;
  position: relative;
}
.carousel article img {
  width: 100%;
}
.carousel .slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.carousel .slider-prev-next-control label {
  display: none;
  width: 20px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.carousel .slider-prev-next-control label:hover {
  opacity: 1;
}
.carousel .slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.carousel .slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  transition: all 0.3s;
}
.carousel .slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}
.carousel .info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  transition: all 1000ms ease-out 600ms;
}
.carousel .info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}
.carousel .info.top-left {
  top: 30px;
  left: 30px;
}
.carousel .info.top-right {
  top: 30px;
  right: 30px;
}
.carousel .info.bottom-left {
  bottom: 30px;
  left: 30px;
}
.carousel .info.bottom-right {
  bottom: 30px;
  right: 30px;
}
.carousel .slider-wrapper {
  width: 100%;
  overflow: hidden;
  background: #fff;
  background: #fcfff4;
  transform: translateZ(0);
  transition: all 500ms ease-out;
}
.carousel .slider-wrapper .inner {
  transform: translateZ(0);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, .carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, .carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, .carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  font-family: opensans;
  padding-left: 8px;
  padding-top: 2px;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  line-height: 38px;
  display: block;
  color: #777;
}
.carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, .carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after {
  width:17px;
  height:32px;
  background-image: url(../images/bg_direction_nav_next.png);
  background-repeat:no-repeat;
  content: "";
}
.carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(1), .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(5), .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(4), .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(3), .carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(2) {
  display: block;
  float: right;
  margin-right: -45px;
}
.carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(5), .carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(4), .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(3), .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(2), .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: left;
  margin-left: -45px;
}
.carousel #slide1:checked ~ .slider-prev-next-control label:nth-child(5)::after, .carousel #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, .carousel #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, .carousel #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, .carousel #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  width:17px;
  height:32px;
  background-image: url(../images/bg_direction_nav_prev.png);
  background-repeat:no-repeat;
  content: "";
}
.carousel #slide5:checked ~ .slider-dot-control label:nth-child(5), .carousel #slide4:checked ~ .slider-dot-control label:nth-child(4), .carousel #slide3:checked ~ .slider-dot-control label:nth-child(3), .carousel #slide2:checked ~ .slider-dot-control label:nth-child(2), .carousel #slide1:checked ~ .slider-dot-control label:nth-child(1) {
  background: #333;
}
.carousel #slide5:checked ~ .slider-wrapper article:nth-child(5) .info, .carousel #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, .carousel #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, .carousel #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, .carousel #slide1:checked ~ .slider-wrapper article:nth-child(1) .info {
  opacity: 1;
}
.carousel #slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}
.carousel #slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}
.carousel #slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}
.carousel #slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}
.carousel #slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .carousel .slider-wrapper {
    border-radius: 0;
  }
}
@media only screen and (max-width: 450px) {
  .carousel .slider-wrapper {
    border-radius: 0;
  }
  .carousel .slider-wrapper .info {
    opacity: 0;
  }
}
.boxing {
    width:85%;
    margin:auto;
}
.box {
  width: 35%;
  padding: 25px 30px;
  margin-bottom: 25px;
  background: #F3F3F3;
  float:left;
}
.box__header {
  font-weight: bold;
  display: inline-block;
  font-family:opensans;
  font-size:13px;
}
.boxedHead {
    width:100%;
}
.box__info {
  font-weight: normal;
  font-style: italic;
  opacity: 0.7;
  display: inline-block;
  font-family:opensans;
  font-size:13px;
}
.box__project {
  color: #00aded;
  font-weight: bold;
  font-family:opensans;
  font-size:13px;
}
.box__paragraph {
  margin-bottom: 25px;
  font-family: opensans;
  line-height: 1.6;
  display: inline-block;
  margin-bottom: 25px;
  width:65%;
  font-family:opensans;
  font-size:13px;
  padding: 0px 10px;
}
.services_box {
    width:33%;
    float:left;
    margin-top:50px;
    text-align:center;
}
.services__header {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
}
.services {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  background-color: #111;
  display: inline-block;
}
.services__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
}
.services__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.services__title {
  position: relative;
  color: var(--light);
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: opensans;
  width:220px;
  margin:auto;
  background: #111;
  z-index:0;
}
.services__image {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
.services__icons {
  display: inline-block;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}

.about_box {
    width:33%;
    float:left;
    margin-top:50px;
    text-align:center;
}
.about__header {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
}
.about {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  display: inline-block;
}
.about .p1 {
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: opensans;
  color: #888;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.42;
  padding-top: 30px;
  text-align:center;
}
.about__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
}
.about__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.about__title {
  position: relative;
  color: #555;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: opensans;
  width:220px;
  margin:auto;
  background: #fff;
  z-index:0;
}
.about__image {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
.about__icons {
  display: inline-block;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}


.skills_box {
    width:33%;
    float:left;
    margin-top:50px;
    text-align:center;
}
.skills__header {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
}
.skills {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  display: inline-block;
  margin-top:50px;
}
.skills .p1 {
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: opensans;
  color: #888;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.42;
  padding-top: 30px;
  text-align:center;
}
.skills__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
  display:block;
    width:50%;
    float:left;
}
.skills__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.skills__title {
  position: relative;
  color: #555;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: opensans;
  width:220px;
  margin:auto;
  border-bottom:2px solid #00aded;
  z-index:0;
  margin-bottom:50px;
}
.skills__image {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
.skills__icons {
  display: inline-block;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}
.skills__progress {
    display:block;
    width:50%;
    float:left;
    padding-right: 20px;
    font-family:opensans;
}
.skills__progress .progress {
    border-radius: 0;
    height: 32px;
}
.skills__progress .progress {
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.contact_box {
    width:50%;
    float:left;
    margin-top:50px;
    text-align:left;
    color:#999;
}
.contact__header {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
    margin-bottom:20px;
}
.contact {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  background-color: #111;
  display: inline-block;
}
.contact .p1 {
    margin-bottom: 40px;
    letter-spacing: 0.3px;
    text-align: center;
    font-family: opensans;
    color: #888;
    font-size: 18px;
    font-weight: 250;
    line-height: 1.42;
    padding-top: 30px;
    text-align: center;
}
.contact .info {
    padding-bottom: 20px;
    font-size: 14px;
    font-family:opensans;
}
.contact .info span {
    padding-right: 6px;
    display: inline-block;
}
.contact ul.socials {
    margin: 0;
    padding: 10px 0 10px 0;
}
.contact ul.socials li {
    list-style: none;
    display: inline-block;
    margin-right: 3px;
}
.contact ul.socials li a {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 24px;
   
    text-align: center;
}
.contact ul.socials i {
     color: #fff;
}
.contact__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
}
.contact__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.contact__title {
  position: relative;
  color: var(--light);
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: opensans;
  width:220px;
  margin:auto;
  background: #111;
  z-index:0;
}
.contact__image {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}
.wpcf7-form-control {
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    margin-top:10px;
    border-radius:5px;
}
.wpcf7-submit {
    width:auto;
    cursor:pointer;
    color:#222;
    letter-spacing:2px;
    text-transform: uppercase;
    padding:10px 20px;
}
.contact__icons {
  display: inline-block;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}
.copyright {
    background-color: #000000;
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.copyrightinfo {
    font-size: 14px;
    font-family:opensans;
    color: #888888;
}
img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.team_box {
    width:33%;
    float:left;
    margin-top:50px;
    text-align:center;
}
.team__header {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
}
.team {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  margin-top:50px;
}
.team .p1 {
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: opensans;
  color: #888;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.42;
  padding-top: 30px;
  text-align:center;
}
.team__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
  display:block;
    width:50%;
    float:left;
}
.team__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.team__title {
  position: relative;
  color: #555;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: opensans;
  width:250px;
  margin:auto;
  border-bottom:2px solid #00aded;
  z-index:0;
  margin-bottom:50px;
}
.team__title_box {
    width:33%;
    float:left;
}
.team__title_box p{
    text-align:center;

}
.team .img-circle, .team .img-square {
    max-height: 230px;
    max-width: 230px;
}
.img-circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-perspective: 1px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.team .t-name {
    text-transform: uppercase;
    font-family: 'opensans';
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0 10px;
    font-weight: 600;
    letter-spacing:2px;
}
.team .t-type {
    font-size: 14px;
    font-family: 'opensans';
    color: #00aded;
    text-align: center;
    padding: 0 0 5px;
    font-style: italic;
}
.team ul.socials {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}
.team ul.socials li {
    list-style: none;
    display: inline-block;
    color:#111;
    padding:5px;
}
.team ul.socials li i {
    
    color:#111;
}


.blog_box {
    width:33%;
    float:left;
    margin-top:50px;
    text-align:center;
}
.blog {
    color:#fff;
    text-transform: uppercase;
    font-family:opensansbold;
    font-size:22px;
    letter-spacing:2px;
}
.blog {
  padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  margin-top:50px;
  float:left;
}
.blog .p1 {
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  text-align: center;
  font-family: opensans;
  color: #888;
  font-size: 18px;
  font-weight: 250;
  line-height: 1.42;
  padding-top: 30px;
  text-align:center;
}
.blog__para1 {
  color: #888;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-family: opensans;
  display:block;
    width:50%;
    float:left;
}
.blog__para2 {
  color: #888;
  text-align: center;
  margin: 0 0 10px;
  display: inline-block;
}
.blog__title {
  position: relative;
  color: #555;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
  font-family: opensans;
  width:400px;
  margin:auto;
  border-bottom:2px solid #00aded;
  z-index:0;
  margin-bottom:50px;
}
.blog__title_box {
    width:33%;
    float:left;
}
.blog__title_box p{
    text-align:left;

}
.blog .img-circle, .team .img-square {
    
    max-width: 90%;
    border-radius: 0;
}
.btnbox {
    float:left;
    width:100%;
    text-align:center;
    margin-top:20px;
}
.blog .btn {
    padding:5px 10px;
    border-radius:5px;
    color: var(--light);
    background-color: var(--beta);
    cursor: pointer;
    font-family:opensans;
    font-size:12px;
    letter-spacing:0px;
}
.blog .t-name {
    text-transform: uppercase;
    font-family: 'opensans';
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0 10px;
    font-weight: 600;
    letter-spacing:2px;
    margin-top:50px;
    color:#111;
}
.blog .t-type {
    font-size: 14px;
    font-family: 'opensans';
    color: #ccc;
    text-align: left;
    padding: 0 0 5px;
    font-style: italic;
}
.blog ul.socials {
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}
.blog ul.socials li {
    list-style: none;
    display: inline-block;
    color:#111;
    padding:5px;
}
.blog ul.socials li i {
    
    color:#111;
}
.newsletter {
    //background-image: url(../images/bg-newsletter.jpg);
    background-size: cover;
    padding: 100px 0 110px 0;
    position: relative;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 40%) inset;
    display: block;
    float:left;
    width:100%;
    margin-top:100px;
}
.newsletter2 {
    //background-image: url(../images/bg-cta.jpg);
    background-size: cover;
    padding: 100px 0 110px 0;
    position: relative;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 40%) inset;
    display: block;
    float:left;
    width:100%;
}
.testimonial {
    //background-image: url(../images/bg-testimonials.jpg);
    background-size: cover;
    padding: 100px 0 110px 0;
    position: relative;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 40%) inset;
    display: block;
    float:left;
    width:100%;
    
}
.blacklayer {
    background: rgba(0, 0, 0, 0.4) url(../images/bg-strip.png) repeat scroll 0 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.container2 {
    width: 80%;
    margin:auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.newsletter h2 {
    font-weight: 600;
    font-family:opensans;
    font-size:25px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    letter-spacing: 2.5px;
}
.newsletter p {
    color: #fff;
    display: inline-block;
    font-family:opensans;
    font-size:16px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    width: 100%;
    text-align: center;
    
}
.newsletter2 h2 {
    font-weight: 600;
    font-family:opensans;
    font-size:25px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    letter-spacing: 2.5px;
}
.newsletter2 p {
    color: #fff;
    display: inline-block;
    font-family:opensans;
    font-size:16px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    width: 100%;
    text-align: center;
    
}
.testimonial h2 {
    font-weight: 600;
    font-family:opensans;
    font-size:32px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    letter-spacing: 2.5px;
    border-bottom:solid 2px #fff;
    width:200px;
    margin:auto;
    margin-bottom:10px;
    padding-bottom:10px;
}
.testimonial p {
    color: #fff;
    display: inline-block;
    font-family:opensans;
    font-size:22px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
    width: 100%;
    text-align: center;
    
}
.newsletter2 .btn-primary {
    margin: auto;
    text-align: center;
    color: #fff;
    background-color: #00aded;
    display: block;
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}
.col-md-6 {
    width: 50%;
    margin: auto;
    margin-top:20px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
#mc-embedded-subscribe-form, .ctct-embed-signup form {
    background: transparent !important;
    color: #fff;
    text-align: center;
}
#mc-embedded-subscribe-form .mc-field-group {
    width: 100% !important;
}
#mc-embedded-subscribe-form .mc-field-group .email, #mc-embedded-subscribe-form input[type="text"], .ctct-embed-signup form input[type="text"] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    color: #555;
    display: block;
    font-size: 14px;
    font-family:opensans;
    height: 42px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 60%;
    margin: 0 auto 20px auto;
    letter-spacing: 1px;
}
#mce-responses, .ctct-embed-signup #success_message {
    color: #fff !important;
    width: 100% !important;
}
.btn-primary, .btn-inverse, #mc-embedded-subscribe-form input[type="submit"], .ctct-embed-signup .ctct-button {
    color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #00aded;
    cursor: pointer;
    font-size: 14px;
    font-family:opensans;
}
.btn-primary, .btn-inverse, #mc-embedded-subscribe-form input[type="submit"]:hover, .ctct-embed-signup .ctct-button {
    color: #00aded;
    
    background-color: #fff;
    cursor: pointer;
}

.header {
  width: 148px;
  margin: 0 auto;
  color: var(--light);
  font-family: opensans;
  padding: 0;
  position: relative;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lines {
  margin: 10px;
  width: 100%;
  height: 45px;
  position: relative;
}

.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: var(--elements);
  width: 45%;
  display: block;
}

.lines::after {
  left: 0;
  top: 50%;
  z-index: 4;
}

.lines::before {
  right: 0;
  top: 50%;
}/*# sourceMappingURL=main.css.map */