@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.regular.ttf);
}

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "OpenSans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}