.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 727px;
  background-image: url('/images/hero.jpg');
  background-repeat: no-repeat;
  
  
  


  &__wrap {
    max-width: 800px;
    color: var(--light);
    align-items: center;

    h1 {
      font-size: 80px;
      font-family: "Lucinda";
      text-align: center;
      font-weight: 500;
      letter-spacing: 1.25px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

    p {
      font-size: 22px;
      font-family: "Lucinda";
      text-align: center;
    }
  }

  &__button {
    text-align: center;

    .feature {
      font-family: "Lucinda";
      margin-top: 40px;
      text-align: center;
      border: 2px white solid;
      border-radius: 10px;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 20px;
    }

    .feature:hover{
      letter-spacing: 0.5em;
      transition: s;
      color: var(--gamma);
      background-color: var(--light);
      border: 1px solid var(--light);
    }

    .download {
      font-family: "Lucinda";
      margin-top: 40px;
      background-color: var(--beta);
      border-radius: 8px;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      margin-left: 20px;
    }

    .download:hover {
      color: var(--gamma);
      background-color: var(--light);
      cursor: pointer;
    }
  }
}