.projects {
  h1 {
    font-size: 30px;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 40px;}

  span {
      background: #00aded;
      height: 2px;
      display: block;
      max-width: 100px;
      // margin: 20px auto 20px auto;
      margin: 20px auto;
      // margin: 20px;
        }
  }
